* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(28, 27, 27);
}

h1 {
    margin-top: 1%;
    color: antiquewhite;
}

.logo {
    width: 50px;
    height: auto;
    transition: width 0.4s ease;
}

.logo:hover {
    width: 65px;
}

nav {
    background-color: rgb(112, 104, 104);
    padding: 2%;
    display: flex;
    justify-content: center;
}

.top {
    margin-top: 1%;
    float: left;
    margin-left: 590px;
}

.tf {
    display: inline-block;
    text-decoration: none;
    margin-left: 15px;
    font-size: 16px;
    transition: font-size 0.4s ease;
    color: white;
}

.tf:hover {
    font-size: 20px;
}

li:hover {
    font-size: 15px;
    color: blue;
}

.lefttext {
    float: left;
    text-align: center;
    margin-left: 50px;
    font-size: 12px;
    transition: font-size 0.4s ease;
    color: white;
    padding-top: 20px;
}

.lefttext:hover {
    font-size: 15px;
    color: blue;
}

.righttext {
    float: right;
    text-align: center;
    margin-right: 50px;
    font-size: 15px;
    transition: font-size 0.4s ease;
    color: white;
    padding-top: 20px;
}

.righttext:hover {
    font-size: 17px;
    color: blue;
}

.input {
    display: flex;
}
@media screen and (max-width: 768px) {
    body{
        width: 85vh;
    }
    .top,
    .tf,
    div,
    .lefttext,
    .righttext {
        margin: 0;
        text-align: center;
        width: 100%; /* Fixed width to ensure no overlapping */
    }

    .tf {
        margin-left: 0;
    }

    .logo {
        width: 30px;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    .input {
        flex-direction: column;
        align-items: center;
    }

    .tf:hover {
        font-size: 16px;
    }

    .lefttext,
    .righttext {
        padding-top: 10px;
        font-size: 14px;
        margin-left: -15px;
    }
    p{
        margin-left: -10px;
    }
    .top,
    .tf,
    div,
    .lefttext,
    .righttext:hover{
        font-size: 20px;
    }
}
